@model List<FocusOffical.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>T-shirt Collections 2023</h2>
                            <p>
                                Focus is a fashion brand that carries a message with simple, stylish designs, high-standard products for global youth who confidently express their individuality.
                            </p>
                            <a href="#shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="https://www.facebook.com/profile.php?id=100092209278501"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/focus_official88"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.instagram.com/focus_official88"><i class="fa-brands fa-tiktok"></i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>T-shirt Collections 2023</h2>
                            <p>
                                Focus is a fashion brand that carries a message with simple, stylish designs, high-standard products for global youth who confidently express their individuality.
                            </p>
                            <a href="#shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="https://www.facebook.com/profile.php?id=100092209278501"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/focus_official88"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.instagram.com/focus_official88"><i class="fa-brands fa-tiktok"></i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="~/img/banner/1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Blooming Collections</h2>
                        <a href="#shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/img/banner/2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Sunflower Collections</h2>
                        <a href="#shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="~/img/banner/3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Simple Collections</h2>
                        <a href="#shop">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Product Section Begin -->
<section id="shop" class="spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Best Sellers</li>
                    <li data-filter=".blooming">Blooming</li>
                    <li data-filter=".simple">Simple</li>
                    <li data-filter=".sunflower">SunFlower</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @foreach(var product in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix @product.Category">
                    <div class="product__item @(product.Category == "sunflower" ? "sale" : "")">
                        <div class="product__item__pic set-bg" data-setbg="img/product/@product.Image">
                            @if(product.Category == "sunflower")
                            {
                                <span class="label">Sale</span>
                            }else
                            {
                                <span class="label">New</span>
                            }
                        </div>
                        <div class="product__item__text">
                            <h6>@product.Name</h6>
                            <a href="#" class="add-cart" onclick="event.preventDefault(); AddToCart(@product.ProductId)">+ Add To Cart</a>
                            <h5>@product.Price.ToString("N0") ₫</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>T-Shirt Brand <br /> <span>SunFlower</span> <br /> Focus Brand</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="~/img/sale.png" alt="">
                    <div class="hot__deal__sticker">
                        <span>Sale Off</span>
                        <h5>199k</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Deal Of The Week</span>
                    <h2>Sunflower T-shirt Collection</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>0</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>24</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>00</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>00</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <a href="#shop" class="primary-btn">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Instagram Section Begin -->
<section class="spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram2.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram6.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram5.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>
                        Focus T-shirt - Passion in every stitch, messages in every shade. Let's tell your story through each thread with us.
                    </p>
                    <h3>#Focus_Offical</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

@section Scripts {
    <script>
        function AddToCart(productId){
            $.ajax({
                url: '/shop/addtocart',
                type: 'POST',
                data: {productId: productId, quantity: 1},
                success: function (response) {
                    if (response.success) {
                        ToastMessage("Add product to cart successfully.", "/shop/cart");
                        let cartNum = document.querySelectorAll(".cart-num");
                        let cartPrice = document.querySelectorAll(".cart-price");

                        cartNum.forEach(n => n.innerHTML = response.numberOfProduct);
                        cartPrice.forEach(e => e.innerHTML = formatCurrency(response.total));

                    } else {
                        ToastMessage(response.message, "");
                    }
                },
                error: function (xhr, status, error) {
                    ToastMessage("Fail to send api", "");
                }
            });
        }
    </script>
}